**/.DS_Store
**/*.ipynb_checkpoints/
**/__pycache__
.vscode
.env
README.md
unused_functions.py
Connection_with_Mongodb.ipynb
Foursquare_Cambridge(USA).ipynb
Foursquare_Chicago.ipynb
Foursquare_London.ipynb
Foursquare_Seattle.ipynb
Foursquare_SF.ipynb
Visualization.ipynb
Weighting.ipynb


